# node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# expo
.expo/
.expo-shared/
web-build/
dist/

# native build folders
android/build/
android/app/build/
ios/build/

# local env files
.env*.local

# macOS
.DS_Store
